/**** CalenderBlock division and labeling styles ***/
.halfhour{
  position:absolute;
  border-top:1px dashed black;
  background-color:#EEEEFF;
  width:100%;
}
.hour{
  position:absolute;
  border-top:1px solid black;
  width:100%;
}
.hourlabel{
  position:relative;
  top:0.5em;
}
.day{
  float:left;
  width:20%;
  height:100%;
}
.daybord{
  border-right:1px solid black;
  height:100%;
}
#F.daybord{
  border:none;
  margin:0px;
}

/******** TimeBlock styles **********/
.timeblock{
  color:black;
  position:absolute;
  border-top:1px solid black;
  border-bottom:1px solid black;
  background-color:#777777;
  width:20%;
}
.selected
{
	border-width:2px;
}


/******** 1 time use, id based styles for CalenderBlock ****/
#schedulecontainer
{
  position:relative;
  height:600px;
  width:800px;
  left:70px;
}
#hourlabels
{
  position:absolute;
  left:-70px;
  width:70px;
  height:100%;
}
#times
{
  position:absolute;
  border:1px solid black;
  border-top:none;
  overflow:hidden;
  height:100%;
  width:100%;
}
#days{
  position:absolute;
  overflow:hidden;
  margin:1px;
  margin-top:0px;
  height:100%;
  width:100%;
}

/***** Controller Styles  ******/
.controller
{
	width:520px;
	border:1px solid #CCCCCC;
	padding-bottom:8px;
}
#container
{
	color:black;
	/*position:absolute;
	top:540px;*/
	width:680px;
	float:left;
}
.courserembut
{
	position:absolute;
	left:501px;
	background-color:#EE0000;
	color:white;
}


/**** Other page components ****/
#savelist
{
	position:absolute;
	z-index:11;
	left:680px;
}
.saveentry
{
	display:block;
	height:20px;
}
.seats
{
}
.grades
{
}
.gradesel
{
	display:inline;
}
.gradegraph
{
	display:inline;
}
