/* This marks the sart of the rev 2 style */

.halfhour{
  position:absolute;
  border-top:1px dashed black;
  background-color:#EEEEFF;
  width:100%;
}
.hour{
  position:absolute;
  border-top:1px solid black;
  width:100%;
}
.hourlabel{
  position:relative;
  top:0.5em;
}
.day{
  float:left;
  width:20%;
  height:100%;
}
.daybord{
  border-right:1px solid black;
  height:100%;
}
#F.daybord{
  border:none;
  margin:0px;
}
.timeblock{
  position:relative;
  border-top:1px solid black;
  border-bottom:1px solid black;
  background-color:#777777;
}
#hourlabels
{
  position:absolute;
  left:-80px;
  width:80px;
  height:100%;
}
#times
{
  position:absolute;
  border:1px solid black;
  border-top:none;
  overflow:hidden;
  height:100%;
  width:100%;
}
#days{
  position:absolute;
  overflow:hidden;
  margin:1px;
  margin-top:0px;
  height:100%;
  width:100%;
}
#schedulecontainer
{
  position:relative;
  height:600px;
  width:800px;
  left:80px;
}


.selected
{
	border-width:2px;
}
.classtime0
{
	background-color:#ffe099;
}
.classtime1
{
	background-color:#f4ff99;
}
.classtime2
{
	background-color:#7cf7e2;
}
.classtime3
{
	background-color:#99c3ff;
}
.classtime4
{
	background-color:#7c90f7;
}
.classtime5
{
	background-color:#e47cf7;
}
.classtime6
{
	background-color:#ffb299;
}
.controller
{
	width:520px;
	border:1px solid #CCCCCC;
	padding-bottom:8px;
}

#container
{
	color:black;
	/*position:absolute;
	top:540px;*/
	width:680px;
	
	float:left;
}
.coursesel
{

}
.TDRspan
{

}
.courserembut
{
	position:absolute;
	left:501px;
	background-color:#EE0000;
	color:white;
}
#savelist
{
	position:absolute;
	z-index:11;
	left:680px;
}
.saveentry
{
	display:block;
	height:20px;
}
.seats
{
}
.grades
{
}
.gradesel
{
	display:inline;
}
.gradegraph
{
	display:inline;
}
